@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* globals.css */
@font-face {
  font-family: 'Coluna';
  src: url('/fonts/Coluna-CondensedBold.woff2') format('woff2');
  font-weight:normal;
  font-style: normal;
  font-display: swap; /* Optional: Ensures text is visible while the font loads */
}
@tailwind base;
@tailwind components;
@tailwind utilities;




  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*  */

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}


/* .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */
